---
layout: default
title: خانه
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title" style="text-align:right;">
        <h2><span>سفرنامه ها</span></h2>
    </div>
    <div class="row" style="text-align:right;">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<!-- <section class="recent-posts" style="text-align:right;">

    <div class="section-title" style="text-align:right;">

        <h2><span>همه سفرنامه‌ها</span></h2>

    </div>

    <div class="row listrecent" style="text-align:right;">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section> -->

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

