<!-- <section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{site.disqus}}'; 
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section> -->
  {% if site.giscus.repo %}
    <script src="https://giscus.app/client.js"
            data-repo={{ site.giscus.repo }}
            data-repo-id={{ site.giscus.repo-id }}
            data-category={{ site.giscus.category }}
            data-category-id={{ site.giscus.category-id }}
            data-mapping={{ site.giscus.mapping }}
            data-reactions-enabled={{ site.giscus.reaction-enabled }}
            data-theme={{ site.giscus.theme }}
            crossorigin={{ site.giscus.crossorigin }}
            async>
    </script>
  {% endif %}
