---
title: "Calculate"
layout: default
permalink: "/calculate.html"
---

<style>
    .calculate input[type=number],
    .calculate select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .calculate input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .calculate input[type=submit]:hover {
        background-color: #45a049;
    }

    .calculate input[type=number]::-webkit-inner-spin-button,
    .calculate input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .calculate {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<h3 style="text-align: right;">محاسبه هزینه ماشین به ازای هر نفر</h3>

<div class="calculate" style="text-align:right;">
    <input type="number" id="input" step="10" name="firstinputname" placeholder="مسافت بر حسب کیلومتر بدون جاده خاکی" required>

    <input type="checkbox" id="moreInfo" name="moreInfo" onclick="showMore()">
    <label for="moreInfo">هزینه جانبی (پارکینگ، عوارضی یا ...) دارم</label><br>

    <input type="number" id="moreInfoInput" step="10" name="moreInfoInput" placeholder="هزینه جانبی بر اساس تومان"
        style="display:none;">

    <input type="checkbox" id="dirtInputName" name="dirtInputName" onclick="showDirtMore()">
    <label for="dirtInputName">جاده خاکی دارم</label>

    <input type="number" id="dirtInput" step="10" name="dirtInput" placeholder="مسافت خاکی بر حسب کیلومتر"
        style="display:none;">

    <input type="submit" value="محاسبه" onclick="calculate()">


     <p id="result" style="text-align: right;"></p><br>
     <p id="result1" style="text-align: left;direction :ltr;">formula : ((x / (100)) * (20+15) * 3000) / 3 </p>
     <p id="result2" style="text-align: right;">در فرمول بالا x برابر با مجموع مسافت رفت و برگشت بر حسب کیلومتر است که تقسیم بر 100 می‌شود تا هزینه بر اساس هر 100 کیلومتر حساب شود، 15 برابر با ضریب تورم و 20 برابر لیتر بنزین به ازای هر 100 کیلومتر است. 3000 هم قیمت سوخت به ازای هر لیتر است و در نهایت تقسیم بر 3 که تعداد سرنشین است می‌شود تا هزینه به ازای هر فرد حساب شود، دقت کنید که حتی اگر تعداد سرنشین ها 4 هم باشد در نهایت همان بر 3 تقسیم می‌شود</p>
</div>

<script>
    function calculate() {
        let x = document.getElementById("input").value;
        let more = document.getElementById("moreInfoInput").value;
        let dirt = document.getElementById("dirtInput").value;

        let personsCount = 3;

        let resultValue = (((+x) / (100)) * 35 * 3000) / personsCount;
        let resultDirtValue = 0;

        if (more && more != 0) {
            let moreValue = (+more) / personsCount;
            resultValue += moreValue;

            resultValue = Math.round(resultValue);
        }

        if (dirt && dirt != 0) {
            resultDirtValue = (((+dirt) / (100)) * 35 * 3000) / personsCount;
            resultDirtValue *= 2;
            resultValue += resultDirtValue;
        }

        document.getElementById("result").innerHTML = "مبلغ قابل پرداخت برای هر نفر : " + "<b>" + new Intl.NumberFormat('de-DE').format(resultValue) + "</b>" + " تومان ";
    }

    function showMore() {
        var isChecked = document.getElementById("moreInfo").checked;

        if (isChecked) {
            document.getElementById("moreInfoInput").style.display = "block";
        }
        else {
            document.getElementById("moreInfoInput").style.display = "none";
            document.getElementById("moreInfoInput").value = 0;
        }
    }

    function showDirtMore() {
        var isChecked = document.getElementById("dirtInputName").checked;

        if (isChecked) {
            document.getElementById("dirtInput").style.display = "block";
        }
        else {
            document.getElementById("dirtInput").style.display = "none";
            document.getElementById("dirtInput").value = 0;
        }
    }
</script>
