---
title: "Calculate"
layout: default
permalink: "/calculate.html"
---

<style>
    .calculate input[type=number],
    .calculate select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .calculate input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .calculate input[type=submit]:hover {
        background-color: #45a049;
    }

    .calculate input[type=number]::-webkit-inner-spin-button,
    .calculate input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    .calculate {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<h3 style="text-align: right;">محاسبه هزینه ماشین به ازای هر نفر</h3>

<div class="calculate">
    <input type="number" id="input" step="10" name="firstinputname" placeholder="مسافت بر حسب کیلومتر" required>

    <select id="persons" required>
        <option value="0" selected disabled>تعداد سرنشینان</option>
        <option value="1">3 و کمتر</option>
        <option value="2">4 نفر</option>
    </select>

    <input type="submit" value="محاسبه" onclick="calculate()">

    <p id="result" style="text-align: right;"></p>
</div>

<script>
    function calculate() {
        let x = document.getElementById("input").value;

        var personSelect = document.getElementById('persons');
        var persons = personSelect.options[personSelect.selectedIndex].value;

        let personsCount = 4;

        if (persons == 1) {
            personsCount = 3;
        }

        if (persons == 2) {
            personsCount = 4;
        }

        let resultValue = (((+x) / (100)) * 25 * 3000) / personsCount;

        document.getElementById("result").innerHTML = "مبلغ قابل پرداخت برای هر نفر : " + "<b>" + resultValue + "</b>" + " تومان ";
    }
</script>